html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	color: #444444;
}

main {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('bc.png');
}

#button {
	--color: firebrick;
	--border-color: firebrick;
	--shadow-color: rgb(112, 20, 20);

	position: relative;
	text-align: center;
	font-size: 50px;
	width: 300px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	margin: 10px;
	border: none;
	background-size: cover;
	cursor: pointer;
	outline: none;
	color: white;
	font-weight: bold;
	background-color: var(--color);
	border-radius: 15px;
}

#button:active {
	transform: scale(0.95);
}

#display,
#counter {
	height: 32px;
}

#flex {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 270px;
	height: 100px;
	background-color: white;
	border: 7px solid #444444;
	border-radius: 15px;
	padding: 0 0px;
}

.in-flex {
	margin: 4px 2px;
	height: 92px;
	width: 5px;
	background-color: green;
}